/* 
    Project 2 with Flexbox
    Marc Picornell
    19 oct 2020
    marc [at] marcpicornell.com
    You like it :-) say hi!
*/
* 
    {
        font-family: 'Roboto', sans-serif;
        color: darkslategray;
        text-align: center;
        margin: 0;
        padding: 0;
    }

body 
    {
        margin: 3%;
    }

h1, h2, h3 
    {
        color: black;
        margin: 3%;
    }

p 
    {
        font-size: smaller;
        margin: 9%;
    }

li {
        list-style: none;

    }

img 
    {
        max-width: 100%;
    }

.navigation ul
    {
        display: flex;
        flex-direction: column;
    }

a   {
        text-decoration: none;
    }

.navigation li
    {
        justify-content: center;
        margin: 5px;
        text-transform: uppercase;
        font-size: 85%;
        font-weight: bolder;
    }

.profile-picture 
    {
        width: 90%;
    }

.skill li 
    {
        font-size: smaller;
    }

.phone a,
.e-mail a
    {
        font-size: 1.1em;
        font-weight: bold;
    }

.footer
    {
        display: flex;
    }

.td 
    {
        display: none;
    }

@media screen and (min-width: 769px)
    {
        .navigation ul
        {
            flex-direction: row;
            justify-content: center;
        }
    }

@media screen and (min-width: 1025px)
    {
        *
        {
            width: 90%;
        }
    }