/* 
    Project 2
    Marc Picornell
    03 sep 2020
    marc [at] marcpicornell.com
    You like it :-) say hi!
*/
* 
{
    box-sizing: border-box;
    
}

 header 
 {
     text-align: center;
     display: block;
 }

 main 
 {
     padding-left: 6px;
     padding-right: 6px;
     margin-left: 11px;
     margin-right: 11px;
 }

body 
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkslategray;
}

a 
{
    font-weight: bolder;
}

ul
{
    margin-bottom: 20px;
    padding: 0;

}

a 
{
    text-decoration: none;
    text-transform: uppercase;
    color: darkslategray;
    font-size: smaller;
}

li 
{
    list-style: none;
    padding: 5px;
}

h2, h3
{
    padding: 5px;
}

img
{
    padding: 0;
    margin: 0;
    max-width: 96%;
}

.portfolio p 
{
    margin-top: 2em;
}

/* MEDIA QUERY */

/* TABLET */

@media (min-width: 768px)
{
    main
    {
        padding: 0;
        margin: 0;
    }

    ul
    {
        margin-bottom: 40px;
        padding: 0;
    }
    
    li
    {
        display: inline-block;
    }

    .profile-picture
    {
        float: right;
        width: 30%;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .profile
    {
        text-align: left;
        width: 45%;
        margin: 10px;
        padding-right: 20px;
    }

    h2,
    h3
    {
        clear: both;
    }
    
    .portfolio-1,
    .portfolio-3,
    .portfolio-5
    {
        float: left;
        max-width: 45%;
        align: center;
    }

    .portfolio-2,
    .portfolio-4,
    .portfolio-6
    {
        align: center;
        float: right;
        max-width: 45%;
    }

    article p 
    {
    }
}
